.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.png
*.ps
*.toc
*.html
*.png
# *.txt
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
*.html
*.rds
*.aux
*.log
*html*
*chunk*
*data-cache*
*.so
*.o
.Rbuildignore
eg_data/
output-cache/
save-last-round-cv/
resources/
cv-output/
INLA/
