.DS_Store
.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.png
*.tif
*.ps
*.toc
*.html
*.png
#*.txt
*.csv
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
*.html
*.rds
*.aux
*.log
*html*
*chunk*
*data-cache*
*.so
*.o
.Rbuildignore
eg_data/
output-cache/
save-last-round-cv/
resources/
analysis/VOCC/old-code/
cv-output/
INLA/
raw/
*bathymetry-data
ms.md
ms.tex
*_cache*
ms/ms.knit.md
